body {
    font-family: "Roboto", sans-serif;
    margin: 0%;
    
}

.header, .footer {
    background-color: #7c6965;
    padding: 0px 200px 0px 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #f9faf8;
    font-size: 24px;
    
}

.logoName {
    display: flex;
    font-family: "Bebas Neue", sans-serif;
    align-items: center;
    font-weight: bolder;
}

.logo {
    display: block;
    width: 100px;
    
}

ul {
    
    display: flex;
    justify-content: space-between;
    color: #e5e7eb;
    font-size: 18px;
    gap: 20px;
}

li {
    list-style-type: none;
    
}

a {
    text-decoration: none;
    color: #e5e7eb;
}

.main, .join-container {
    
    background-color: #7c6965a6;
    display: flex;
    color: #f9faf8;
    
}

.main {
    padding: 30px 200px 30px 200px;
    
    justify-content: space-between;
    align-items:center;
 
    gap: 50px;
}

.main .container {
    
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 700px;
    margin: 0;
    gap: 20px;
    
}

.main .container h1 {
    font-family: "Bebas Neue", sans-serif;
    font-size: 50px;
    margin: 0;
}

.main .container button, .join-container button {
    width: max-content;
    font-family: "Bebas Neue", sans-serif;
    font-size: 20px;
    padding: 5px 20px 5px 20px;
    color: #7c6965;
    
}

.placeholder {
    flex-shrink: 0;
    width: 400px;
    border-radius: 5%;
   
    
}

.ideas {
    font-family: "Bebas Neue", sans-serif;
    font-size: 40px;
    text-align: center;
    color: #434343;
}

.ideas-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding-bottom: 30px;
}

.idea {
    display: flex;
    flex-direction: column;
    justify-items: center;
    width: 150px;
    height: 200px;
    border: 5px solid #434343;
    border-radius: 20px;
    gap: 10px;
    background-color: #7c6965;
    

    
}


.idea-img {
    width: 150px;
    height: 150px;
    
    background-image: url('./images/DSCF9874.jpg');
    background-size: cover;
}

.quote-around {
    background-color: #6d6d6d;
    display: flex;
    justify-content: center;
}

.quote-container {
    background-color: #6d6d6d;
    color: #e5e7eb;
    width: 600px;
    font-size: 30px;
    padding: 20px;
    
}

.quote {
    text-align: start;
    font-style: italic;
    font-weight: 100;
}

.author {
    text-align: end;
    font-family: "Bebas Neue", sans-serif;
}
.join {
    display: flex;
    justify-content: center;
    padding: 20px;
}
.join-container {
    border-radius: 10px;
    width: 900px;
    padding: 30px 50px;
    display: flex;
    justify-content: space-between;
}

.join-text h2 {
    margin-bottom: 0;
    margin-top: 0;
}

.footer {
    justify-content: center;
    padding: 20px;
    font-size: 10px;
}